<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attractions</title>
</head>
<body>
    <h1>All Attractions</h1>
    <div>
        <a href="/attractions/new">Add Attraction</a>
    </div>
    <ul>
        <% for(let attraction of attractions) { %>
            <li><a href="/attractions/<%= attraction._id %>"><%= attraction.title %></a></li>
        <% } %> 
    </ul>
</body>
</html>