<% layout('layouts/boilerplate')%> 
   <div class="row">
    <h1 class="text-center">New Attraction</h1>
    <div class="col-6 offset-3">
        <form action="/attractions" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="attraction[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="attraction[location]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" aria-label="price" placeholder="0.000" id="price-label" name="attraction[price]" aria-describedby="price-label" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="attraction[description]" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Upload Image(s)</label>
                <div class="form-file custom-file">
                    <input class="form-control custom-file-input" type="file" name="image" id="image" multiple onchange="previewMultiple(event)">
                    <label for="image" class="form-label custom-file-label"></label>
                </div>
                <div id="formFile"></div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Attraction</button>
            </div>
        </form>
        <a href="/attractions">All Attractions</a>
    </div>
   </div>
