<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Attraction</title>
</head>
<body>
    <form action="/attractions" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="attraction[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="attraction[location]">
        </div>
        <button>Add Attraction</button>
    </form>
    <a href="/attractions">All Attractions</a>
</body>
</html>