<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1><%= attraction.title %></h1>
    <h2><%= attraction.location %></h2>
    <p>
        <a href="/attractions/<%= attraction._id%>/edit">Edit</a>
    </p>
    <footer>
        <a href="/attractions">All Attractions</a>
    </footer>
</body>
</html>

<!-- Pagina de presentación-->